{
 :ns-prefix     "com.micahmartin.pendulums"
 :ignore-errors ["goog/i18n/bidi.js"]
 :ignore-console ["React DevTools"
                  "You might need to use a local HTTP serve"]
 :development   {:cache-analysis true
                 :optimizations  :none
                 :output-dir     "web/cljs/"
                 :output-to      "web/cljs/pendulums_dev.js"
                 :pretty-print   true
                 :source-map     true
                 :sources        ["spec/cljc" "src/cljc" "src/cljs" "spec/cljs"]
                 :specs          true
                 :verbose        false
                 :watch-fn       c3kit.scaffold.cljs/on-dev-compiled
                 }
 :production    {
                 :cache-analysis false
                 :infer-externs  true
                 :optimizations  :advanced
                 :output-dir     "web/cljs/"
                 :output-to      "web/cljs/pendulums.js"
                 :pretty-print   false
                 ;:pretty-print   true
                 ;:pseudo-names   true
                 :sources        ["src/cljc" ]
                 :specs          false
                 :verbose        false
                 }
 :staging       {
                 :cache-analysis false
                 :infer-externs  true
                 :optimizations  :whitespace
                 :output-dir     "web/cljs/"
                 :output-to      "web/cljs/pendulums.js"
                 :pretty-print   true
                 :pseudo-names   true
                 :sources        ["src/cljc"]
                 :specs          false
                 :verbose        false
                 }
 }
